.title {
  padding: 16px;
  color: $color-text-gray;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.2px;
  text-transform: uppercase;
  background: linear-gradient(90deg, $color-bg-main 0%, $color-bg-white 100%);

  @include tablet {
    padding-right: 24px;
    padding-left: 24px;
  }

  @include desktop {
    max-width: 1120px;
    padding: 16px 30px;
  }
}
