@font-face {
  font-family: 'TTLakes';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('TTLakes Regular'), local('TTLakes-Regular'),
    url('../fonts/TTLakes-Regular.woff') format('woff');
}

@font-face {
  font-family: 'TTLakes';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('TTLakes Medium'), local('TTLakes-Medium'),
    url('../fonts/TTLakes-Medium.woff') format('woff');
}

@font-face {
  font-family: 'TTLakes';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('TTLakes Bold'), local('TTLakes-Bold'),
    url('../fonts/TTLakes-Bold.woff') format('woff');
}
