.about {
  margin: var(--margin);

  @include tablet {
    position: relative;
    display: flex;
  }

  &__container {
    padding: 0;

    @include tablet {
      display: flex;
      justify-content: space-between;
      padding: var(--padding);
    }
  }

  &__wrapper {
    padding: var(--padding);

    @include tablet {
      width: 50%;
      padding: 0;
    }
  }

  &__description {
    max-height: 75px;
    margin-bottom: 16px;
    letter-spacing: 0.2px;
    overflow: hidden;

    @include tablet {
      max-height: 170px;
      padding-right: 48px;
    }

    &--open {
      max-height: none;
    }
  }

  &__text {
    &:not(:first-child) {
      margin-top: 20px;
    }
  }

  &__show-more {
    margin-bottom: 16px;
  }

  &__bg {
    width: 100%;

    @include tablet {
      align-self: flex-start;
      width: 50%;
      border-radius: 5px;
    }

    @include desktop {
      width: 531px;
      height: 307px;
      margin-left: 36px;
    }
  }
}
