.technic {
  &__list {
    max-height: 200px;

    @include tablet {
      max-height: 160px;
    }
  }

  &__item {
    height: 160px;
  }

  &__name {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.2px;
  }

  &__button {
    align-self: flex-end;
  }
}
