.main {
  padding: 24px 0;
  background-color: $color-bg-main;

  @media screen and (min-width: $desktop) {
    margin-top: -80px;
  }

  &__title {
    position: relative;

    display: flex;
    align-items: center;

    margin: 0;
    padding: var(--padding);

    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.6px;

    @media screen and (min-width: $tablet) {
      &::before {
        left: -24px;
      }
    }

    &::before {
      content: '';

      position: absolute;
      left: 0;

      display: inline-block;
      width: 4px;
      height: 40px;

      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      background-color: $color-bg-green;
    }
  }
}
