.menu {
  position: absolute;
  top: 0;
  left: -150%;
  z-index: 10;
  display: flex;
  flex-direction: column;
  width: 320px;
  height: 100vh;
  padding: 18px 16px 32px;
  background-color: $color-bg-white;
  box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.2);
  transition: left 0.3s ease;
  overflow-y: scroll;

  @include tablet {
    padding: 18px 24px 32px;
  }

  @include desktop {
    position: static;
    z-index: 0;
    min-height: 100vh;
    box-shadow: none;
  }

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  .interface {
    .button:not(:last-child) {
      margin-right: 16px;
    }

    @each $icon in 'callback' 'feedback' 'sign-up' {
      &__#{$icon} {
        background-image: url('../img/icons/#{$icon}.svg');
      }
    }
  }

  &__header {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 46px;
  }

  &__close-btn {
    background-image: url('../img/icons/close.svg');

    @include desktop {
      display: none;
    }
  }

  &__logo {
    margin-right: auto;
  }

  &__search-btn {
    background-image: url('../img/icons/search.svg');
  }

  &__list {
    flex-grow: 1;
    margin-bottom: 32px;
  }

  &__item {
    color: $color-text-main;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    transition: color 0.3s ease;

    &:hover {
      color: $color-text-accent;
    }

    &:not(:last-child) {
      margin-bottom: 24px;

      @include tablet {
        margin-bottom: 32px;
      }
    }

    &--active {
      position: relative;
      color: $color-text-gray;

      &::before {
        content: '';
        position: absolute;
        top: -4px;
        left: -17px;
        width: 4px;
        height: 32px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        background-color: $color-bg-green;

        @include tablet {
          left: -25px;
        }
      }
    }
  }

  &__interface {
    margin-bottom: 16px;
  }

  &__contacts {
    margin-bottom: 8px;

    @include tablet {
      margin-bottom: 40px;
    }
  }

  &__mail {
    display: block;
    margin-bottom: 12px;
    color: $color-text-main;
    font-family: TTLakes;
    font-size: 16px;
    font-style: normal;
    line-height: 24px;
    letter-spacing: -0.2px;
    transition: color 0.3s ease;

    &:hover {
      color: $color-text-accent;
    }
  }

  &__phone {
    color: $color-text-main;
    font-family: TTLakes;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.6px;
    transition: color 0.3s ease;

    &:hover {
      color: $color-text-accent;
    }
  }

  .langs {
    display: flex;
    gap: 7px;

    &__item {
      color: $color-text-main;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.2px;
      transition: color 0.3s ease;

      &:hover {
        color: $color-text-accent;
      }

      &--active {
        color: $color-text-gray;
      }
    }
  }

  &--open {
    left: 0;
  }
}
