.slider-block {
  min-width: 320px;
  margin: var(--margin);
  margin-right: auto;
  margin-left: auto;
  border-top: 1px solid #d9fff5;

  .swiper-pagination-bullet {
    width: 12px;
    height: 12px;

    border-radius: 50%;
    background-color: #dddddd;
  }

  .swiper-pagination-bullet-active {
    background-color: $color-text-placeholder;
  }

  &__title {
    margin-bottom: 16px;

    @include tablet {
      margin-bottom: 24px;
    }

    @include desktop {
      margin: 0 auto 24px;
    }
  }

  &__container {
    padding: 0;

    @include tablet {
      padding: var(--padding);
    }
  }

  &__list {
    box-sizing: border-box;
    padding: 0 16px 40px;

    @include tablet {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 16px 24px;
      margin-bottom: 24px;
      padding: 0;
      overflow: hidden;
      transition: max-height 0.3s ease;
    }

    @include desktop {
      grid-template-columns: repeat(4, 1fr);
      gap: 16px 32px;
      max-width: 1120px;
    }
  }

  &__item {
    display: flex;
    justify-content: space-between;
    width: 240px;
    padding: 16px;

    border-radius: 6px;
    border: 1px solid $color-bg-separator;
    background-color: $color-bg-white;

    @include tablet {
      width: auto;
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;

    border-radius: 50%;
    border: 2px solid $color-bg-btn;
    background-color: transparent;
    background-image: url('../img/icons/arrow.svg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  &__show-more {
    display: none;

    @include tablet {
      display: flex;
    }
  }
}
